<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="/images/icon_manage_blue.png">
    <title>GameTime管理端</title>
    <link href="/stylesheets/main.03702748.css" rel="stylesheet">
</head>
<body>
<div id="root"></div>
<script type="text/javascript">
    var usermessage = '<%= usermessage %>';
    window.usermessage = usermessage;
</script>
<script type="text/javascript" src="/javascripts/main.1cad42ab.js"></script>
</body>
</html>