<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>APP后台管理系统</title>
    <meta author="李昊">
    <link rel="stylesheet" type="text/css" href="/stylesheets/register-login.css">
</head>
<body>
<div id="box"></div>
<div class="cent-box register-box">
    <div class="cent-box-header">
        <h1 class="main-title hide">APP管理后台</h1>
        <h2 class="sub-title">高效后台管理 - Smart Service</h2>
    </div>

    <div class="cont-main clearfix">
        <div class="index-tab">
            <div class="index-slide-nav">
                <a href="/">登录</a>
                <a href="/register" class="active">注册</a>
                <div class="slide-bar slide-bar1"></div>
            </div>
        </div>

        <div class="login form">
            <div class="group">
                <div class="group-ipt userphone">
                    <input type="text" name="userphone" id="userphone" class="ipt" placeholder="输入手机号码" required>
                </div>
                <div class="group-ipt password">
                    <input type="password" name="password" id="password" class="ipt" placeholder="设置登录密码" required>
                </div>
                <div class="group-ipt password1">
                    <input type="password" name="password1" id="password1" class="ipt" placeholder="重复登录密码" required>
                </div>
                <div class="group-ipt useremail">
                    <input type="text" name="useremail" id="useremail" class="ipt" placeholder="邮箱地址" required>
                </div>
                <div class="groop-ipt error-blank" style="text-align:center">

                </div>
            </div>
        </div>

        <div class="button">
            <button type="submit" class="login-btn register-btn" id="button">注册</button>
        </div>
    </div>
</div>

<div class="footer">
    <p>APP数据管理后台</p>
    <p>Designed By Lihao & <a href="/">回到主页</a> 2017.1</p>
</div>

<script src='/javascripts/particles.js' type="text/javascript"></script>
<script src='/javascripts/background.js' type="text/javascript"></script>
<script src='/javascripts/jquery.min.js' type="text/javascript"></script>
<script src='/javascripts/layer/layer.js' type="text/javascript"></script>
<script src='/javascripts/index.js' type="text/javascript"></script>
<script>
    $('.imgcode').hover(function () {
        layer.tips("看不清？点击更换", '.verify', {
            time: 6000,
            tips: [2, "#3c3c3c"]
        })
    }, function () {
        layer.closeAll('tips');
    }).click(function () {
        $(this).attr('src', 'http://zrong.me/home/index/imgcode?id=' + Math.random());
    })

    $(".login-btn").click(function () {
        $('.error-blank').empty()
        var email = $("#useremail").val();
        var userphone = $("#userphone").val();
        var password = $("#password").val();
        var password1 = $("#password1").val();
        console.log(email +　userphone + password + password1);
        if (email === '' || userphone === '' || password === '' || password1 === '') {
            $('.error-blank').prepend('<p style="color: red; size: 12px">资料不完整</p>')
            return
        }
        if (password != password1) {
            $('.error-blank').prepend('<p style="color: red; size: 12px">密码输入不一致</p>')
            return
        }
        var obj = {
            userphone: userphone,
            userpwd: password,
            useremail: email,
        }
        $.ajax({
            type: 'POST',
            url: '/sys/login/rigister',
            data: obj,
            success: function (data) {
                if (data.status === 1) {
                    window.location.href = '/'
                } else {
                    $('.error-blank').prepend('<p style="color: red; size: 12px">注册失败</p>')
                }
            },
            error: function () {
                $('.error-blank').prepend('<p style="color: red; size: 12px">注册失败</p>')
            },
            dataType: 'json'
        })

    })
    $("#remember-me").click(function () {
        var n = document.getElementById("remember-me").checked;
        if (n) {
            $(".zt").show();
        } else {
            $(".zt").hide();
        }
    })
</script>
</body>
</html>